# Prevent directory listing
Options -Indexes

# Add security headers
<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, nofollow"
    Header set X-Frame-Options "DENY"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# Block access to sensitive files
<FilesMatch "^\.|package(-lock)?\.json$">
    Require all denied
</FilesMatch>

# Redirect non-www to www for main domain but not subdomains
RewriteEngine On
RewriteCond %{HTTP_HOST} ^baseselect.nl [NC]
RewriteRule ^(.*)$ https://www.baseselect.nl/$1 [L,R=301] 